@model Cinema.Models.SessaoModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Você realmente quer apagar essa sessão?</h3>
<div>
    <h4>SessaoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Filme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Filme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Sala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Sala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hr_Inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hr_Inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hr_Fim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hr_Fim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_Ingresso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_Ingresso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo_Animacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo_Animacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo_Audio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo_Audio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
